:root {
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: hsl(0, 0%, 100%);
  --blue: #43B5E5;
  --light-blue: #BBFBFF;
  --grey-900: #2c2c2c;
  --grey-300: #c0c0c0;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  min-width: 300px;
  margin: auto;
  padding: 10% 0;
  text-align: center;
  align-items: center;
}

.nav {
  display: flex;
  height: 5%;
  background-color: var(--blue);
  overflow: hidden;
  padding: 15px 20px;
  justify-content: space-between;
}

#logo {
  max-height: 4vh;
  margin: auto 50% auto 0;
}

#icon {
  max-height: 200px;
}

.nav-list {
  list-style: none;
  margin: auto 5% auto 0;
}

.nav-item {
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000a8; 
  background-color: var(--light-blue);
}

.nav-item > a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: var(--grey-900);
  font-weight: 500;
  font-family: 'Fredoka', sans-serif;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 12%;
}

input {
  background-color: #fff;
  margin: .5rem;
  border: solid 1px  hsl(0, 0%, 80%);;
  padding: 5px;
  border-radius: 4px;
  color: var(--grey-900);
  min-height: 38px;
}
form {
  display: flex;
  flex-flow: column;
}

p > a {
  text-decoration: underline;
  color: var(--blue);
}

button {
  background-color: var(--light-blue);
  color: var(--grey-900);
  margin: 5% auto;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: large;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  transform: scale(1%);
  transform: translateY(-1px);
}

input:focus {
  border: solid 1px var(--blue);
}

input:disabled {
  background-color: var(--grey-300);
}

.input-group {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: right;
}

.input-group > input {
  min-width: 300px;
  margin-left: 50px;
}

.input-group > .input {
  min-width: 300px;
  margin-left: 50px;
  margin-right: .5rem;
}

.label-group {
  max-width: fit-content;
}

.label-group > label {
  text-align: right;
}