.content {
    background-image: url('/bookme\ homepage.jpg') !important;
}

.home-content {
    display: flex;
    justify-content: space-between;
}

.home-text {
    width: 500px;
}

.search-box {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(119, 119, 119);
}

